@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@layer base {
  :root {
    --background: 295.4 70.2% 97.1%;
    --foreground: 296.7 63.6% 28%;
    --card: 295.4 70.2% 97.1%;
    --card-foreground: 296.7 63.6% 28%;
    --popover: 295.4 70.2% 97.1%;
    --popover-foreground: 296.7 63.6% 28%;
    --primary: 293.4 69.5% 48.8%;
    --primary-foreground: 287 100% 95.5%;
    --secondary: 288.3 95.8% 90.6%;
    --secondary-foreground: 294.7 72.4% 39.8%;
    --muted: 288.3 95.8% 90.6%;
    --muted-foreground: 295.4 70.2% 32.9%;
    --accent: 291.1 93.1% 82.9%;
    --accent-foreground: 296.7 63.6% 28%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 288.3 95.8% 90.6%;
    --input: 288.3 95.8% 90.6%;
    --ring: 293.4 69.5% 48.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 296.8 90.2% 10.1%;
    --foreground: 288.3 95.8% 90.6%;
    --card: 296.8 90.2% 10.1%;
    --card-foreground: 288.3 95.8% 90.6%;
    --popover: 296.8 90.2% 10.1%;
    --popover-foreground: 288.3 95.8% 90.6%;
    --primary: 288.3 95.8% 90.6%;
    --primary-foreground: 294.7 72.4% 39.8%;
    --secondary: 296.7 63.6% 28%;
    --secondary-foreground: 288.3 95.8% 90.6%;
    --muted: 296.7 63.6% 28%;
    --muted-foreground: 291.1 93.1% 82.9%;
    --accent: 296.7 63.6% 28%;
    --accent-foreground: 288.3 95.8% 90.6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 296.7 63.6% 28%;
    --input: 296.7 63.6% 28%;
    --ring: 291.1 93.1% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glassmorphic-card {
    @apply bg-white/10 backdrop-blur-lg border border-white/20 rounded-2xl;
}
